@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

// Define techno colors for a cyberpunk theme
$techno-font: "Obitron", sans-serif;

/*
// jacks favourite color-theme - looks like a gentelmen's club website
$techno-blue-dark: black !default;
$techno-blue-light: orange !default;
$techno-violet-light: blue !default;
$techno-blue-mid: green !default;
$techno-violet-dark: purple !default;
*/

$techno-shiny-tone: #ff2a6d !default;
$techno-violet-dark: #63345e !default;
$techno-violet-light: #ac61a9 !default;
$techno-blue-light: #b7c1de !default;
$techno-blue-mid: #0b468c !default;
$techno-blue-dark: #092047 !default;

$secondary-text-color: #eee !default;



// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

// added dark theme
$text-color: #121213 !default; //#eee !default;
$background-color: #eee !default; //darken($techno-blue-dark, 13%) !default; //#121213 !default;

// will add light theme soon
$text-color-light-theme: #333 !default;
$background-color-light-theme: white !default; //#121213 !default;


$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;


// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
